*{
    margin: 0;
    padding: 0;
  }
  section{
    background-image: url('https://i.pinimg.com/originals/72/b3/5a/72b35a4293b0ba5edf3abcbcaaf6f05d.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .text-color{
    /* color: white; */
    color: black;
  }
.see{
    margin-top: 1.5%;
}
  .table{
    font-size: 20px;
    font-weight: 700;
    border: transparent;
    margin-left: 22%;
  }