*{
    margin: 0;
    padding: 0;
  }
  main{
    /* background-image: url('https://t3.ftcdn.net/jpg/04/44/84/62/360_F_444846201_QKklRZQs4gaKNrCty9tXbKjJiCjCKnfh.jpg'); */
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/271/505/non_2x/islamic-background-with-followers-full-editable-template-free-vector.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .text-color{
    color: white;
  }
.see{
    margin-top: 3%;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }